@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

:root{
    --navbar-height: 59px;
}



/* .logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 27%;
    display: flex;
    /* border: 3px solid white; */
    /* border-radius: 40px; */
    /* height: 59px; */
    /* margin: 3px 6px; */
    /* background-color: blue
} */

.logo{
    font-family: 'Permanent Marker', cursive;
    margin: 8px 35px;
    font-size: 35px;
    color: black;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffd700;
    top: 0;
    cursor: pointer;
    mix-blend-mode: darken;
}

.nav-list{
    width: 70%;
    display: flex;
    align-items: center;
}

.nav-list li{
    list-style: none;
    /* padding: 26px 30px; */
    font-size: 1.5rem;
}

.nav-list li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    border-radius: 13px;
    margin: 0px 10px;
    padding: 5px 30px;
}

.nav-list li a:hover, .nav-list li a.active{
    text-decoration: none;
    color: #ffd700;
    background-color: #426e92;
}


.rightNav{
    /* background-color: red; */
    width: 30%;
    text-align: right;
    padding: 0 60px;
}



.btn{
    padding: 10px 10px;
    margin: 9px 20px;
     border: 2px solid #ffd700; 
     border-radius: 12px;
    background: none;
    color: #ffd700;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #426e92;
    vertical-align: middle;
    width: 114px;
    /* transition: all 3s ease-out 3s; */
}

.btn:hover{
    border: 2px solid #426e92;
    background-color: #ffd700;
    color: #426e92;
}

.service{
    background-color: #26425a;
    background-blend-mode: darken;
    height: 180vh;
}

span{
    display: flex;
    justify-content: center;
    color: #ffd700;
    padding-top: 20px;
    font-size: 3em;
    font-family: 'Segoe UI';
}

hr {
    height: 5px;
    background-color: #ffd700;
    margin-top: 20px;
    border-color: #ffd700;
}

.h-secondary{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8rem;
    padding: 12px;
    color: #ffd700;
}

#service1{
    margin: 34px;
    display: flex;
    margin-top: 150px;
}

#service1 .box{
    padding: 20px;
    margin: 2px 26px;
    border-radius: 28px;
    margin-bottom: 20px;
}

#service1 .box  img{
    height: 95px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    
}

#service1 .box p{
    font-family: 'Roboto Condensed', sans-serif;
    color: whitesmoke;
    font-size: 1.3rem;
}

#service2{
    margin: 0 154px;
    display: flex;
}

#service2 .box{
    padding: 20px;
    margin: 2px 46px;
    border-radius: 28px;
    margin-bottom: 20px;
}

#service2 .box  img{
    height: 95px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    
}

#service2 .box p{
    /* font-family: 'Bree Serif', serif; */
    color: whitesmoke;
    font-size: 1.3rem;
    font-family: 'Roboto Condensed', sans-serif;
}

#btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.button{
    padding: 8px 20px;
    margin: 15px;
    border: 2px solid #426e92;
    border-radius: 7px;
    background: none;
    color: #426e92;
    cursor: pointer;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    background-color: #ffd700;
    

}

.button:hover{
    color: #ffd700;
    background-color: #426e92;
    border:2px solid #ffd700;
    
}

.center{
    text-align: center;
}

footer{
    background-color: #ffd700;
    color: black;
    padding: 9px 20px;
}